
html, body {
  margin: 0;
  padding: 0;
}

span {
}

.SearchBar {
  height: 100%;
  width: 100%;
  background-color:black;
}

.HeadyHead {
  display: flex;
  color: white;
  justify-content: center;
}

.MyLogo {
  height: 150px;
}

.searchbarContainer {
  /* margin-top: 5%; */
  height: 420px;
  width: 100%;
}

.searchbarComponent {
  height: 100%;
  width: 100%;
  padding-bottom: 5px;
  background-color:#d4f1f9 ;
  align-items: center;
}

.searchbarComponent span {
  font-size: 24px;
}

.SearchBar-Animation {
  display: flex;
  flex-wrap: nowrap;
  height: 80%;
  width: 100%;
  /* background-color: midnightblue; */
  align-items: center;
  justify-content: center;
}

.SearchBar-Animation input {
  transition: width 2s;
}

.WaterDroplet {
  z-index: 1;
  position: relative;
  height: 0px;
  width: 0px;

  transition: height 2s 0s, width 3s 0.4s;
}

.waterdrop_searchbar {
  display: flex;
  flex-wrap: nowrap;
  background-color: black;
  width: 200px;
  height: auto;
  transition: width 1s;
  align-items: center;
  justify-content: center;
}


.SubmitField {
  display: flex;
  flex-wrap: nowrap;
  height: 20%;
  width: 100%;
  background-color:steelblue;
  align-items: center;
  justify-content: center;

  transition: height 1s, visibility 0s 1s;
  /* Now below we give the submit button an animation for onClick */
  /* animation: SubmitField linear 0.5s normal;   */
  /*this will be set when the submit button is clicked */
}

/* this can stay because we need the animation to run once set */
/* deprecated */
@keyframes SubmitField {
  from { transform: scaleY(1.0); }
  to { transform: scaleY(0.0); }
}

.waterdropSearchbar {
  width: 100%;
}

.waterdropSubmit {
  width: 100%;
  border: none;
  height: 50px;
  outline: none;
  /* transition: display 2s; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} 




/* \React's example

.App {
  text-align: center;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */