/* .App {
  text-align: center;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
html, body {
  margin: 0;
  padding: 0;
}

form {
  height: 100%;
  width: 100%;
}

.searchbarContainer {
  margin-top: 5%;
  height: 420px;
  width: 100%;
}

.searchbarComponent {
  height: 100%;
  width: 100%;
  background-color:#d4f1f9 ;
}

.SearchBar-Animation {
  display: flex;
  flex-wrap: nowrap;
  height: 80%;
  width: 100%;
  /* background-color: midnightblue; */
  align-items: center;
  justify-content: center;
}

input [type=submit] {
  width: 100%;
}

.waterdropSubmit {
  width: 100%;
  border: none;
  height: 50px;
  outline: none;

  /* Now below we give the submit button an animation for onClick */
}

.SubmitField {
  display: flex;
  flex-wrap: nowrap;
  height: 20%;
  width: 100%;
  background-color:steelblue;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} 

.waterdropSearchbar {
  width: 100%;
}